table {
	border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}

table{
	width: 100%;
}

th {
	height: 50px;
	background-color:white;
}

td {
	text-align: center;
	height: 50px
}
th, td {
	border-bottom: 1px solid #ddd;
}th:hover{
	background-color: blue;
}
 td:hover {
	   background-color: blue;
 }
 
 body > p { 
        font-size: 14px;
        color: red;
 }